* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-size: 14px;
    background-color: #FFFFFF;
    text-decoration: none;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

input {
    height: 48px;
    color: #8590a6;
    width: 100%;
    padding: 10px;
    padding-top: 23px;
}

::placeholder {
    color: #8590a6;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html,
body {
    width: 100%;
    height: 100%;
}

button {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 29px;
    padding: 4px 10px;
}

button a {

    font-size: 0.6em;
}

.border {
    border: 1px solid #ebebeb;
}

.fong-weight {
    font-weight: 600;
}

.box1 {
    width: 45%;
    height: 65%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border: none;
}

.left {
    flex: 1;
}

.right {
    flex: 1.3;
}

.close {
    color: #8590a6;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.body {
    margin-top: 80px;
}

.left .body {
    text-align: center;
}

.body img {
    border-radius: 6px;
    height: 120px;
    width: 120px;
    border: 1px solid #ebebeb;
    padding: 8px;
    margin: 35px auto;
}

.footer {
    text-align: center;
    margin-top: 85px;
}

.header {
    width: 100%;
    height: 60px;
}

.header div {
    float: left;
    margin-top: 25px;
    margin-left: 20px;

}

.header div:nth-child(1) a {
    border-bottom: 3px solid #0461cf;
}

.header div a {
    padding: 10px 0;
    font-size: 16px;
}

.form {
    margin: 0 13px;
    position: relative;
}

.form .box {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    width: 100%;
}

.form .box div {
    padding: 10px;
    padding-top: 19px;
    padding-right: 0;
    flex: 1.2;
}

.form .box div span {

    color: #8590a6;
    border-right: 2px solid #ebebeb;
    padding-right: 23px;
}

.form .box input {
    flex: 3.5;
}

.form .box .span {
    color: #0461cf;
    padding: 10px;
    padding-top: 19px;
}

.form .getcode {
    color: #8590a6;
    padding: 10px;
    padding-top: 19px;
    position: absolute;
    right: 0;
}

.form button {
    width: 100%;
    height: 50px;

    margin-top: 60px;
    padding: 10px;
    border: none;

}

.form button a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0461cf;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 0.8em;
    line-height: 30px;
}

.line,
big {
    width: 90%;
    border-bottom: 2px solid #ebebeb;
    text-align: center;
    position: relative;
    margin: 20px;
    margin-top: 30px;
}

.small {
    color: #8590a6;
    font-size: 0.6em;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -17px;
}

.icon div {
    margin: 35px auto;
    width: 60%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.line p {
    text-align: start;
    color: #8590a6;
    font-size: 0.6em;
    position: absolute;
    bottom: -124px;
}

@media screen and (max-width: 600px) {
    .left {
        display: none;
    }

    .box1,
    .right {
        width: 100%;
        height: 65%;
        border: none;
        margin-top: -15px;
        box-shadow: none
    }
}