           .demo-tab-header .layui-btn.layui-this {
               border-color: #1E9FFF;
               color: #1E9FFF;
           }

           .demo-tab-body>div {
               display: none;
           }

           .my-head-container {
               background-color: white;
               color: black;
               /*padding-bottom: 20px;*/
           }


           .evaluate_title_1 {
               font-size: 18px;
               font-weight: 400;
               padding-top: 20px;
               color: #8d8d8d;
               padding-right: 20px;
           }

           .evaluate_title {
               font-size: 25px;
               font-weight: 400;
               padding-top: 20px;
               color: #1f71e0;
               padding-left: 20px;

           }

           .evaluateDiv {
               margin: 10px 10px;
               background-color: #f2f4f7;
           }

           .title {
               font-size: 20px;
               font-weight: 300;
               padding-top: 30px;
               color: #000000;
               padding-left: 50px;
           }

           .container {
               width: 80%;
               margin: auto;
           }

           .mapping-ma {
               display: none;
           }

           @media (max-width: 700px) {
               .container {
                   width: 90%;
               }

               .mapping-ma {
                   display: block;
               }

               .mapping-as {
                   display: none;
               }

               .layui-col-xs8 {
                   width: 100%;
               }
           }

           .paper-header {
               margin-top: 20px;
               display: flex;
               align-items: center;
           }

           .paper-header button {
               width: 120px;
               height: 42px;
               font-size: 20px;
               border-radius: 3px;
               text-align: center;
               border: #1f71e0;
               background-color: #1f71e0;
               color: white;
               margin-right: 20px
           }

           .referencesUl li {
               font-size: 15px;
               line-height: 20px;
               padding-bottom: 10px
           }

           .user-wrapper {
               display: flex;
               align-items: center;
               /*height: 100px;*/
           }

           .user-info {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               /*height: 70%;*/
               margin-left: 20px;
           }

           .user-name {
               font-size: 18px;
               font-weight: 400;
               padding-top: 5px;
           }

           .user-title {
               font-size: 15px;
               display: block;
               color: #8d8d8d;
               padding-bottom: 5px;
           }


           .image-container .imageDiv {
               width: calc(25% - 10px);
               margin-bottom: 20px;
               flex-basis: 22%;
               /*box-sizing: border-box;*/
               /*border: 2px solid black;*/
               /*padding: 10px;*/
           }

           /* 设置每个图片宽度 */
           .image-container .imageDiv .image {
               /*width: calc(25% - 10px);*/
               /*margin-bottom: 20px;*/
               /*flex-basis: 22%;*/
               display: flex;
               /* 将图像容器设置为flex布局 */
               align-items: center;
               /* 水平居中 */
               justify-content: center;
               /* 垂直居中 */
               /*height: 150px;*/
               box-sizing: border-box;
               border: 2px solid black;
               padding: 10px;
           }

           /*图片框样式*/
           .image-container .imageDiv .image img {
               display: block;
               max-width: 100%;
               /* 将图像最大宽度设置为框的宽度 */
               max-height: 100%;
               /* 将图像最大高度设置为框的高度 */
               object-fit: contain;
               /* 将图像放置在框内，并保持比例 */
               /*border: 1px solid #ccc;*/
               /*padding: 5px;*/

           }

           /* 图片名字样式 */
           .image-container .imageDiv .name {
               text-align: left;
               margin-top: 10px;
           }

           /* 设置容器宽度 */
           .image-container {
               width: 90%;
               /*max-width: 800px;*/
               margin: 0 auto;
               padding-top: 20px;
           }

           /* 显示一行图片 */
           .image-container .row {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
           }

           .layui-tab .layui-tab-title li {
               font-size: 20px;
               font-weight: 700;
               padding: 0 30px;
           }

           .layui-tab-brief>.layui-tab-title .layui-this {
               color: #1f71e0;
               padding: 0 30px;
           }

           .layui-tab-brief>.layui-tab-more li.layui-this:after,
           .layui-tab-brief>.layui-tab-title .layui-this:after {
               border-bottom: 4px solid #1f71e0;
           }


           .imageBody {
               width: calc(100% - 20px);
               margin-bottom: 20px;

           }

           .more,
           .mapping {
               color: #1f71e0;
               background: #e9f0fa;
               border-radius: 1px;
               padding: 0 4px;
               display: inline-block;
           }

           /* 设置每个图片宽度 */
           .showImageDiv {
               display: flex;
               /* 将图像容器设置为flex布局 */
               align-items: center;
               /* 水平居中 */
               justify-content: center;
               /* 垂直居中 */
               /*height: 150px;*/
               box-sizing: border-box;
               /*border: 2px solid black;*/
               padding: 10px;
           }

           /*图片框样式*/
           .showImageDiv img {
               display: block;
               max-width: 100%;
               /* 将图像最大宽度设置为框的宽度 */
               max-height: 100%;
               /* 将图像最大高度设置为框的高度 */
               object-fit: contain;
               /* 将图像放置在框内，并保持比例 */
           }