@font-face {
  font-family: "iconfont"; /* Project id 4135475 */
  src: url('iconfont.woff2?t=1687609855202') format('woff2'),
       url('iconfont.woff?t=1687609855202') format('woff'),
       url('iconfont.ttf?t=1687609855202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e854";
}

.icon-wenxian:before {
  content: "\e723";
}

.icon-bianji:before {
  content: "\e639";
}

.icon-fenxiang1:before {
  content: "\e60b";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-shoucang:before {
  content: "\e60a";
}

.icon-file-pdf:before {
  content: "\e7b8";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-yinyong:before {
  content: "\ec81";
}

.icon-fenxiang:before {
  content: "\e632";
}

.icon-VIP:before {
  content: "\e619";
}

